<h1>Listing scrubs</h1>
<br>
<table>
  <thead>
    <tr class="name_title">
      <th>Name</th>
      <th>File type</th>
      <th>Size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
  <% cache ['scrub', Scrub.latest] do %>
    <% @scrubs.each do |scrub| %>
      <% cache ['entry', scrub] do %>
        <div class="entry">
          <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
            <td> <h3><%= scrub.name %></h3> </td>
            <td> <h2><%= scrub.file_type %></h2></td>
            <td> <num><%= scrub.size %></num></td>
            <td class="list_actions">
              <%= link_to 'Show', scrub %><br/>
              <%= link_to 'Edit', edit_scrub_path(scrub) %><br/>
              <%= link_to 'Destroy', scrub, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scrub', new_scrub_path %>
